/FirebaseApp.androidlib.meta
/com.google.firebase.firebase-analytics-20.0.0.aar
/com.google.firebase.firebase-analytics-20.0.0.aar.meta
/com.google.firebase.firebase-analytics-unity-8.7.0.aar
/com.google.firebase.firebase-analytics-unity-8.7.0.aar.meta
/com.google.firebase.firebase-annotations-16.0.0.jar
/com.google.firebase.firebase-annotations-16.0.0.jar.meta
/com.google.firebase.firebase-app-unity-8.7.0.aar
/com.google.firebase.firebase-app-unity-8.7.0.aar.meta
/com.google.firebase.firebase-common-20.0.0.aar
/com.google.firebase.firebase-common-20.0.0.aar.meta
/com.google.firebase.firebase-components-17.0.0.aar
/com.google.firebase.firebase-components-17.0.0.aar.meta
/com.google.firebase.firebase-installations-17.0.0.aar
/com.google.firebase.firebase-installations-17.0.0.aar.meta
/com.google.firebase.firebase-installations-interop-17.0.0.aar
/com.google.firebase.firebase-installations-interop-17.0.0.aar.meta
/com.google.firebase.firebase-measurement-connector-19.0.0.aar
/com.google.firebase.firebase-measurement-connector-19.0.0.aar.meta
